_wandb:
    value:
        cli_version: 0.23.0
        e:
            82nrptrzzmr8c6xc3ljhd1p14p4fvmiz:
                args:
                    - --model-config
                    - model_config.yaml
                    - --train-config
                    - train_config.yaml
                    - --checkpoint-path
                    - checkpoints/part2_Small_layer2_head2_emb16.pt
                codePath: part2/train.py
                codePathLocal: train.py
                cpu_count: 1
                cpu_count_logical: 2
                cudaVersion: "12.4"
                disk:
                    /:
                        total: "120942624768"
                        used: "41312174080"
                email: jemyho1225@gmail.com
                executable: /usr/bin/python3
                git:
                    commit: d3d5ada9317c6538c481f41c76c206fb48954793
                    remote: https://JemyHo:@github.com/JemyHo/cw2_2025_2026-students---Jeremy-Lihang.git
                gpu: Tesla T4
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Turing
                      cudaCores: 2560
                      memoryTotal: "16106127360"
                      name: Tesla T4
                      uuid: GPU-8cf66d7e-a114-25c9-6259-3ce2dde1cab3
                host: e37c3fa333da
                memory:
                    total: "13605851136"
                os: Linux-6.6.105+-x86_64-with-glibc2.35
                program: /content/cw2_2025_2026-students---Jeremy-Lihang/part2/train.py
                python: CPython 3.12.12
                root: /content/cw2_2025_2026-students---Jeremy-Lihang/part2
                startedAt: "2025-11-25T03:47:54.598745Z"
                writerId: 82nrptrzzmr8c6xc3ljhd1p14p4fvmiz
        m: []
        python_version: 3.12.12
        t:
            "1":
                - 1
                - 5
                - 53
                - 105
            "2":
                - 1
                - 5
                - 53
                - 105
            "3":
                - 13
                - 16
                - 61
            "4": 3.12.12
            "5": 0.23.0
            "12": 0.23.0
            "13": linux-x86_64
betas:
    value:
        - 0.9
        - 0.95
block_size:
    value: 128
decay_lr:
    value: true
dev_batch_size:
    value: 128
dropout:
    value: 0.1
grad_clip:
    value: 1
log_every:
    value: 10
lr:
    value: 0.0006
max_epoch:
    value: 30
min_lr:
    value: 6e-05
n_embed:
    value: 16
n_head:
    value: 2
n_layer:
    value: 2
patience:
    value: 5
seed:
    value: 0
train_batch_size:
    value: 32
valid_niter:
    value: 2000
vocab_size:
    value: 15003
warmup_percent_iters:
    value: 0.1
weight_decay:
    value: 0.1
